<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>EtMe</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="../static/style.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <script type="text/javascript">
            $(document).ready(function ()
            {
                $('#wrapper').css({ display: 'none' }).fadeIn(1200);
                $('#topbar').css({ display: 'none' }).fadeIn(600);
            });
        </script>
    </head>
    <center>
        <body>
            <div id="topbar">
                <div id="logo">
                    <img src="../static/images/etme.png" />
                </div>
                <div id="credit">
                    <a href="http://www.etsy.com" id="credittext">Powered by Etsy</a>
                </div>
            </div>
            <div id="wrapper">
                <span id="logintext">Log in with</span>
                <div id="button">
                    <a href="http://localhost:5000/auth"><img src="../static/images/fslogo.png" /></a>
                </div>
            </div>
        </body>
    </center>
</html>
