<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>EtMe</title>
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <link href="../static/style.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
        <link href="../static/jquery.galleryview.css" rel="stylesheet" type="text/css" media="all" />
        <script type="text/javascript" src="../static/jquery.galleryview.js"></script>
        <script type="text/javascript" src="../static/jquery.easing.js"></script>
        <script type="text/javascript" src="../static/jquery.timers.js"></script>
        <script type="text/javascript">
            $(document).ready(function ()
            {
                $('#listings').css({ display: 'none' }).fadeIn(1200);
                $('#topbar').css({ display: 'none' }).fadeIn(600);
                $('#list').galleryView({
                    frame_width: 180,
                    frame_height: 90,
                    show_captions: true,
                    show_filmstrip_nav: false
                });
            });
        </script>
    </head>
    <center>
        <body>
            <div id="topbar">
                <div id="logo">
                    <img src="../static/images/etme.png" />
                </div>
            </div>
            <div id="listings">
                <ul id="list">
                    {% for listing in products %}
                    <li><img src="{{ listing.IMAGE_URL }}" title="{{ listing.TITLE }}"/></li>
                    {% endfor %}
                </ul>
            </div>
        </body>
    </center>
</html>
